# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/icon.svg

# gradle
build
.gradle
.kotlin

# other
eclipse
run
runs
dye_the_world_for_agent.md

# Files from Forge MDK
forge*changelog.txt

**.env
